.header-blue {
  background:linear-gradient(135deg, #172a74, #21a9af);
  background-color:#184e8e;
  padding-bottom:80px;
  font-family:'Source Sans Pro', sans-serif;
}


.logo {
	background: url('../img/catalog/skystore_logo.png') no-repeat 0px 5px;
	width: 70px;
	height: 50px;
	alt=""
}
