{% load mediapath %}
<div class="container">
        <div class=" row-8 text-center ">
            <img class="rounded-circle col-6 mt-5" src="{% mediapath object.image %}" alt="Картинка" width="660" height="440"/>
            <div class="row-8  p-1">
                <div class="card mb-4 box-shadow text-center ">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{object.name}}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title pricing-card-title"> {{object.category}}</h5>
                        <h5 class="card-title pricing-card-title"> {{object.price}} ₽</h5>
                        <ul class="list-unstyled mt-3 mb-6 text-center">
                            <li>{{object.description|slice:":100"}}</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block border-warning btn-primary"><a class="text-light" href="mailto:my_danny@mail.ru" target="_blank" title="Оформите заказ, связавшись с нами">Сделать Заказ</a></button>
                    </div>
                     <ul class="list-unstyled mt-3 mb-4 text-start m-5">

                            {% for version in object.version_set.all %}
                                 {% if version.is_active %}

                                    <div><strong>Активная версия: </strong> {{ version.number_version}} - {{ version.title_version}}</div>
                                 {% endif %}
                            {% endfor %}

                        </ul>
                    <p><a class="btn btn-secondary border-warning " href="{% url 'catalog:product_detail' object.pk %}">Посмотреть &raquo;</a>
                  {% if user.is_authenticated and object.user == user.email or perms.catalog.can_change_product or user.is_superuser%}
                    <a class="btn btn-warning border-danger" href="{% url 'catalog:product_update' object.pk %}">Изменить &raquo;</a>
                   {% endif %}
                        {% if user.is_superuser %}
                    <a class="btn btn-danger border-warning" href="{% url 'catalog:product_delete' object.pk %}">Удалить &raquo;</a></p>
                {% endif %}
                </div>
                {% if perms.catalog.can_change_product or user.is_superuser %}
                    {% if  object.is_published %}
                        <a class="btn btn-danger" href="{% url 'catalog:toggle_publish' object.pk %}" role="button">Снять с публикации &raquo;</a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'catalog:toggle_publish' object.pk %}" role="button">Опубликовать &raquo;</a>
                    {% endif %}
                    {% endif %}
            </div>
        </div>
    </div>