{% extends 'catalog/base.html' %}
{% load mediapath %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">SkyStore</h1>
    <p class="lead">SkyStore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>

<div class="container ">
    <div class="row text-center ">
        <div class="col-3 ">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Удобный сервис рассылок</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ 140</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Неограниченная лицензия</li>
                        <li>- Поддержка</li>
                        <li>- Установка на сервер</li>
                        <li>- Получение обновлений</li>
                    </ul>
                    <div class="row">
                    <button type="button" class="btn btn-lg btn-block border-success btn-primary"><a class="text-warning" href="mailto:my_danny@mail.ru" target="_blank" title="Оформите заказ, связавшись с нами">Купить</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <img src="{% mediapath 'image/all_products.jpg' %}" alt="Картинка"  width="560" height="340"/>

                        </div>
                    </div>
                </div>
{% endblock %}